{% extends 'base.html' %}

{% block title %}Witamy{% endblock %}

{% block content %}
<div class="p-4 mb-3 bg-light rounded-3 shadow-sm text-center">
    <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold text-primary">Stwórz z nami formę życia!</h1>
        <p class="col-md-8 fs-4 mx-auto mt-3">Dołącz do społeczności, która motywuje. Profesjonalny sprzęt, najlepsi trenerzy i atmosfera sukcesu.</p>
        <div class="mt-4">
            <a class="btn btn-primary btn-lg px-5 me-2" href="{{ url_for('auth.register') }}">Zarejestruj się</a>
            <a class="btn btn-outline-secondary btn-lg px-5" href="{{ url_for('auth.login') }}">Zaloguj się</a>
        </div>
    </div>
</div>

<p class="h1 text-primary">Cennik</p>
<div class="row text-center">
    {% for mem_type in mem_types %}
    <div class="col-md-4 my-3">
        <div class="card">
            <h3 class="text-success card-header">{{ mem_type.name }}</h3>
            <div class="card-body">
                <p class="h4">{{ mem_type.price }} zł</p>
                <p class="h4">{{ mem_type.duration }} dni</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}